.menu-icon{
    z-index: 10;
    width: 40px;
    height: 17px;
    &-close{
        z-index: 10;
        width: 30px;
        height: 30px;
    }
    @media screen and (min-width:768px) {
        display: none;
    }
}